In [1]:
import sys
sys.path.append('..')

In [2]:
import pandas as pd
import numpy as np

In [3]:
from market import Instruments

In [4]:
def history_to_df(history):
    """
    * 한 상품의 ohlcv 데이터를 pandas dataframe 형식으로 바꿔주는 함수
    * Input:
      - history(numpy ohlcv 데이터)
      - symbol(str): 종목심볼
    * Output:
      - pandas dataframe
    """
    columns = ['date','open','high','low','close','volume','op_int']
    df = pd.DataFrame(data=history, columns=columns)
    df['date'] = df['date'].astype('M8[ms]')
    df.set_index('date', inplace=True)
    return df

In [9]:
def quotes(instruments, length=0):
    """
    * 넘겨받은 종목의 OHLC 데이터를 Merge하여 하나의 dataframe으로 반환
    * Input:
     - instruments: Merge할 종목 리스트
    * Output:
     - multi index pandas dataframe
    """
    container = []
    for instrument in instruments:
        history = history_to_df(instrument.history(length=length))
        columns = [[instrument.symbol for i in range(6)], ['open','high','low','close','volume','op_int']]
        history.columns = columns
        container.append(history)
    return pd.concat(container, axis=1)

In [78]:
class Market:
    """
    * 시장을 나타내는 클래스
    * 하는일
     - 호가(ohlc) 제공
     - 종목정보 제공
     - ...
    """
    def __init__(self, instruments, length=0, **kwargs):
        """
        * instruments: market 폴더에 있는 종목 정보 함수
        * length: 데이터 길이
        * kwargs: 종목 선택 조건
        """
        self.instruments = instruments
        self.quotes = self._quotes(instruments.get(**kwargs), length=length)
        
        
        
    def _quotes(self, instruments, length=0):
        """
        * 넘겨받은 종목의 OHLC 데이터를 Merge하여 하나의 dataframe으로 반환
        * Input:
         - instruments: Merge할 종목 리스트
        * Output:
         - multi index pandas dataframe
        """
        container = []
        for instrument in instruments:
            history = self.history_to_df(instrument.history(length=length))
            columns = [[instrument.code for i in range(6)], ['open','high','low','close','volume','op_int']]
            history.columns = columns
            container.append(history)
        return pd.concat(container, axis=1)
    
    
    def history_to_df(self, history):
        """
        * 한 상품의 ohlcv 데이터를 pandas dataframe 형식으로 바꿔주는 함수
        * Input:
          - history(numpy ohlcv 데이터)
          - symbol(str): 종목심볼
        * Output:
          - pandas dataframe
        """
        columns = ['date','open','high','low','close','volume','op_int']
        df = pd.DataFrame(data=history, columns=columns)
        df['date'] = df['date'].astype('M8[ms]')
        df.set_index('date', inplace=True)
        return df

In [76]:
class Trader:
    
    def __init__(self, principal, ):

In [77]:
market.quotes

            cme_ad                                              shfe_al  \
              open    high     low   close    volume    op_int     open
date
1959-07-01     NaN     NaN     NaN     NaN       NaN       NaN      NaN
1959-07-02     NaN     NaN     NaN     NaN       NaN       NaN      NaN
1959-07-06     NaN     NaN     NaN     NaN       NaN       NaN      NaN
1959-07-07     NaN     NaN     NaN     NaN       NaN       NaN      NaN
1959-07-08     NaN     NaN     NaN     NaN       NaN       NaN      NaN
...            ...     ...     ...     ...       ...       ...      ...
2020-02-05  0.6744  0.6779  0.6729  0.6750  107683.0  176331.0  13575.0
2020-02-06  0.6750  0.6769  0.6731  0.6735   95120.0  175086.0  13655.0
2020-02-07  0.6735  0.6740  0.6666  0.6681  106791.0  173073.0  13680.0
2020-02-10  0.6678  0.6711  0.6671  0.6683   80302.0  169095.0  13690.0
2020-02-11  0.6688  0.6741  0.6685  0.6719   96768.0  167230.0  13680.0

                                       ... liffe_z                    \
               high      low    close  ...     low   close    volume
date                                   ...
1959-07-01      NaN      NaN      NaN  ...     NaN     NaN       NaN
1959-07-02      NaN      NaN      NaN  ...     NaN     NaN       NaN
1959-07-06      NaN      NaN      NaN  ...     NaN     NaN       NaN
1959-07-07      NaN      NaN      NaN  ...     NaN     NaN       NaN
1959-07-08      NaN      NaN      NaN  ...     NaN     NaN       NaN
...             ...      ...      ...  ...     ...     ...       ...
2020-02-05  13655.0  13540.0  13615.0  ...  7333.0  7419.5  107320.0
2020-02-06  13680.0  13635.0  13660.0  ...  7419.0  7445.0   79116.0
2020-02-07  13730.0  13670.0  13700.0  ...  7375.0  7401.5   76393.0
2020-02-10  13725.0  13645.0  13690.0  ...  7361.0  7382.5   73299.0
2020-02-11  13840.0  13680.0  13775.0  ...  7411.5  7444.5   77938.0

                      shfe_zn
              op_int     open     high      low    close   volume   op_int
date
1959-07-01       NaN      NaN      NaN      NaN      NaN      NaN      NaN
1959-07-02       NaN      NaN      NaN      NaN      NaN      NaN      NaN
1959-07-06       NaN      NaN      NaN      NaN      NaN      NaN      NaN
1959-07-07       NaN      NaN      NaN      NaN      NaN      NaN      NaN
1959-07-08       NaN      NaN      NaN      NaN      NaN      NaN      NaN
...              ...      ...      ...      ...      ...      ...      ...
2020-02-05  705942.0  17260.0  17380.0  17260.0  17330.0  35942.0  58784.0
2020-02-06  705764.0  17390.0  17430.0  17345.0  17380.0  34973.0  57398.0
2020-02-07  710425.0  17350.0  17395.0  17300.0  17335.0  26513.0  56335.0
2020-02-10  716295.0  17115.0  17210.0  17115.0  17175.0  44379.0  62795.0
2020-02-11  724265.0  17140.0  17170.0  17100.0  17135.0  49676.0  68586.0

[15532 rows x 426 columns]

In [35]:
Instruments.get(currency='cny')[0].code

'shfe_al'

In [18]:
ins = Instruments.get(symbol='c')[0]

In [56]:
def test(**kwargs):
    print(kwargs)

In [60]:
b={'a':1}

In [62]:
test(**b)

{'a': 1}

In [63]:
test(a=1)

{'a': 1}

In [67]:
b={'currency':'cny'}

In [68]:
Instruments.get(**b)

[aluminium(al),
 shfe copper(cu),
 shfe lead(pb),
 shfe rebar(rb),
 shfe natural rubber(ru),
 shfe zinc(zn)]

In [95]:
df = pd.DataFrame()

In [96]:
df1

                CD
              open    high     low   close    volume    op_int
date
1987-01-13  0.0078  0.0089  0.0039  0.0041    1854.0     915.0
1987-01-14 -0.0059 -0.0048 -0.0093 -0.0082    1446.0     930.0
1987-01-15  0.0019  0.0020  0.0006  0.0008     539.0     786.0
1987-01-16  0.0027  0.0039  0.0027  0.0036     537.0     964.0
1987-01-19  0.0035  0.0069  0.0035  0.0054     506.0     866.0
...            ...     ...     ...     ...       ...       ...
2020-02-05  0.6744  0.6779  0.6729  0.6750  107683.0  176331.0
2020-02-06  0.6750  0.6769  0.6731  0.6735   95120.0  175086.0
2020-02-07  0.6735  0.6740  0.6666  0.6681  106791.0  173073.0
2020-02-10  0.6678  0.6711  0.6671  0.6683   80302.0  169095.0
2020-02-11  0.6688  0.6741  0.6685  0.6719   96768.0  167230.0

[8346 rows x 6 columns]

In [98]:
df.append(df1).append(df2)

                 AB                                                   CD  \
              close     high      low   op_int     open   volume   close
date
1987-01-13      NaN      NaN      NaN      NaN      NaN      NaN  0.0041
1987-01-14      NaN      NaN      NaN      NaN      NaN      NaN -0.0082
1987-01-15      NaN      NaN      NaN      NaN      NaN      NaN  0.0008
1987-01-16      NaN      NaN      NaN      NaN      NaN      NaN  0.0036
1987-01-19      NaN      NaN      NaN      NaN      NaN      NaN  0.0054
...             ...      ...      ...      ...      ...      ...     ...
2020-02-05  13615.0  13655.0  13540.0  86792.0  13575.0  39395.0     NaN
2020-02-06  13660.0  13680.0  13635.0  85312.0  13655.0  19808.0     NaN
2020-02-07  13700.0  13730.0  13670.0  84114.0  13680.0  23924.0     NaN
2020-02-10  13690.0  13725.0  13645.0  88701.0  13690.0  32053.0     NaN
2020-02-11  13775.0  13840.0  13680.0  88973.0  13680.0  48198.0     NaN


              high     low op_int    open  volume
date
1987-01-13  0.0089  0.0039  915.0  0.0078  1854.0
1987-01-14 -0.0048 -0.0093  930.0 -0.0059  1446.0
1987-01-15  0.0020  0.0006  786.0  0.0019   539.0
1987-01-16  0.0039  0.0027  964.0  0.0027   537.0
1987-01-19  0.0069  0.0035  866.0  0.0035   506.0
...            ...     ...    ...     ...     ...
2020-02-05     NaN     NaN    NaN     NaN     NaN
2020-02-06     NaN     NaN    NaN     NaN     NaN
2020-02-07     NaN     NaN    NaN     NaN     NaN
2020-02-10     NaN     NaN    NaN     NaN     NaN
2020-02-11     NaN     NaN    NaN     NaN     NaN

[13355 rows x 12 columns]

In [60]:
df2 = history_to_df(Instruments.get()[1].history())

In [72]:
mulcol = [['AB' for i in range(6)], columns]

In [21]:
history.name = 'ad'

AttributeError: 'numpy.ndarray' object has no attribute 'name'

In [70]:
df1.columns = mulcol

In [73]:
df2.columns = mulcol

In [83]:
df1['CD']['open']

date
1987-01-13    0.0078
1987-01-14   -0.0059
1987-01-15    0.0019
1987-01-16    0.0027
1987-01-19    0.0035
               ...
2020-02-05    0.6744
2020-02-06    0.6750
2020-02-07    0.6735
2020-02-10    0.6678
2020-02-11    0.6688
Name: open, Length: 8346, dtype: float64

In [76]:
df1

                CD
              open    high     low   close    volume    op_int
date
1987-01-13  0.0078  0.0089  0.0039  0.0041    1854.0     915.0
1987-01-14 -0.0059 -0.0048 -0.0093 -0.0082    1446.0     930.0
1987-01-15  0.0019  0.0020  0.0006  0.0008     539.0     786.0
1987-01-16  0.0027  0.0039  0.0027  0.0036     537.0     964.0
1987-01-19  0.0035  0.0069  0.0035  0.0054     506.0     866.0
...            ...     ...     ...     ...       ...       ...
2020-02-05  0.6744  0.6779  0.6729  0.6750  107683.0  176331.0
2020-02-06  0.6750  0.6769  0.6731  0.6735   95120.0  175086.0
2020-02-07  0.6735  0.6740  0.6666  0.6681  106791.0  173073.0
2020-02-10  0.6678  0.6711  0.6671  0.6683   80302.0  169095.0
2020-02-11  0.6688  0.6741  0.6685  0.6719   96768.0  167230.0

[8346 rows x 6 columns]

In [51]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
next(a)

StopIteration:

In [18]:
next(df1)

TypeError: 'DataFrame' object is not an iterator

In [16]:
g.close()

In [37]:
 container.append(datatable)
        print('\nDone')
        # warm period = 60days
        self.feed = pd.concat(container, axis=1).sort_index(axis=1).iloc[60:]

IndentationError: unexpected indent (<ipython-input-37-cfb2ebd3606f>, line 2)